/* Nền toàn trang */
.login-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../src/assets/background.jpg") no-repeat center / cover;
}

/* Khung form */
.login-container {
    width: 35%;
    height: 400px;
    padding: 70px 30px;;
    border-radius: 18px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
    animation: fadeInUp 0.7s ease;
    background-color: rgba(255, 255, 255, 1.0);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Input */
.input-group {
    margin-bottom: 16px;

}

.input-group label {
    font-weight: 600;
    display: block;
    font-size: 18px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: #0078ff;
    box-shadow: 0 0 6px rgba(0, 120, 255, 0.3);
}

/* Password wrapper */
.password-wrapper {
    position: relative;
}

.toggle-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 14px;
    color: #0078ff;
    cursor: pointer;
    font-weight: 600;
}

/* Button login */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #0078ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.login-btn:hover {
    background: #005fd1;
}

/* Animation mở form */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-error {
    color: #ff4d4d;
    /* Màu đỏ cho lỗi */
    background-color: #ffeaea;
    /* Nền hồng nhạt */
    border: 1px solid #ff4d4d;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    /* Khoảng cách với input bên dưới */
}